<div class="container">
    <div class="row mt-3">

        <style>
            .recipe {
                position: relative;
            }

            .recipe-new-tag {
                position: absolute;
                top: 10px;
                left: 10px;
                background-color: #ff0000;
                color: #fff;
                padding: 5px;
                font-weight: bold;
                border-radius: 3px;
                z-index: 1;
            }

            .zoom a {
                transition: transform 0.5s ease;
            }

            .zoom:hover a {
                transform: scale(1.05);
                background-color: #948484;
            }

            .zoom a img {
                width: 100%;
                height: 70%;
            }
        </style>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-6 zoom">
            <a href="" class="card p-4" style="height: 400px; cursor: pointer;">
                <img src="https://i-giadinh.vnecdn.net/2022/07/05/Thanh-pham-1-1-3538-1656997237.jpg" style="object-fit: scale-down;">
                <span class="recipe-new-tag">New</span>

                <div class="d-flex" style="font-weight: 400; font-size: 13px; color:#727272">

                </div>
                <div class="m-1">
                    <div style="font-weight: 500">
                        Lòng xào dưa - 5 nguyên liệu
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-6 zoom">
            <a href="" class="card p-4" style="height: 400px; cursor: pointer;">
                <img src="https://i-giadinh.vnecdn.net/2022/07/05/Thanh-pham-1-1-3538-1656997237.jpg" style="object-fit: scale-down;">
                <span class="recipe-new-tag">New</span>

                <div class="d-flex" style="font-weight: 400; font-size: 13px; color:#727272">

                </div>
                <div class="m-1">
                    <div style="font-weight: 500">
                        Lòng xào dưa - 5 nguyên liệu
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-6 zoom">
            <a href="" class="card p-4" style="height: 400px; cursor: pointer;">
                <img src="https://i-giadinh.vnecdn.net/2022/07/05/Thanh-pham-1-1-3538-1656997237.jpg" style="object-fit: scale-down;">
                <span class="recipe-new-tag">New</span>

                <div class="d-flex" style="font-weight: 400; font-size: 13px; color:#727272">
                </div>
                <div class="m-1">
                    <div style="font-weight: 500">
                        Lòng xào dưa - 5 nguyên liệu
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-6 zoom">
            <a href="" class="card p-4" style="height: 400px; cursor: pointer;">
                <img src="https://i-giadinh.vnecdn.net/2022/07/05/Thanh-pham-1-1-3538-1656997237.jpg" style="object-fit: scale-down;">
                <span class="recipe-new-tag">New</span>

                <div class="d-flex" style="font-weight: 400; font-size: 13px; color:#727272">

                </div>
                <div class="m-1">
                    <div style="font-weight: 500">
                        Lòng xào dưa - 5 nguyên liệu
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 mb-6 zoom">
            <a href="" class="card p-4" style="height: 400px; cursor: pointer;">
                <img src="https://i-giadinh.vnecdn.net/2022/07/05/Thanh-pham-1-1-3538-1656997237.jpg" style="object-fit: scale-down;">
                <span class="recipe-new-tag">New</span>

                <div class="d-flex" style="font-weight: 400; font-size: 13px; color:#727272">

                </div>
                <div class="m-1">
                    <div style="font-weight: 500">
                        Lòng xào dưa - 5 nguyên liệu
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>